<!DOCTYPE html>
<html>
    <title>MdlEdit For Goldsrc</title>
<head>
</head>
<body style="background-color:#d9d9d9;">
    <center>
        <div class="unselectable">
            <button id="compilemb" style="font-size:20px;background-color:#d9d9d9;border-top-color:#F0F0F0;border-left-color:#F0F0F0;border-bottom-color:#646464;outline: none;">Compile</button>
            <button id="dmb" style="font-size:20px;background-color:#d9d9d9;border-top-color:#F0F0F0;border-left-color:#F0F0F0;border-bottom-color:#646464;outline: none;">Decompile</button>
            <button id="cutmb" style="font-size:20px;background-color:#d9d9d9;border-top-color:#F0F0F0;border-left-color:#F0F0F0;border-bottom-color:#646464;outline: none;">SmdCut</button>
            <button id="compmb" style="font-size:20px;background-color:#d9d9d9;border-top-color:#F0F0F0;border-left-color:#F0F0F0;border-bottom-color:#646464;outline: none;">SmdCompress</button>
            <button id="rmb" style="font-size:20px;background-color:#d9d9d9;border-top-color:#F0F0F0;border-left-color:#F0F0F0;border-bottom-color:#646464;outline: none;">SmdReverse</button>
        </div>
        <br class="unselectable"><br class="unselectable"><br class="unselectable">
        <input type="file" id="fileInput" style="background-color:#d9d9d9;border-top-color:#F0F0F0;border-left-color:#F0F0F0;border-bottom-color:#646464;outline: none;">
        <br class="unselectable"><br class="unselectable"><br class="unselectable"><br class="unselectable">
        <button onclick="getFilePath()" class="unselectable" id="Start" style="font-size:12px;background-color:#d9d9d9;border-top-color:#F0F0F0;border-left-color:#F0F0F0;border-bottom-color:#646464;outline: none;">Compile</button>
        <div class="unselectable">
            <textarea name="" id="console" cols="70" rows="15" style="resize: none;background-color:#d9d9d9;outline: none;"></textarea>
        </div>
    </center>
    <style>
        .unselectable {
            user-select: none;
        }
    </style>
    <script>
        document.getElementById("console").readOnly = true;
        document.getElementById("compilem").hidden = false;
        document.getElementById("console").value = "this is console";
        document.getElementById("runButton").addEventListener("click", function() {
            // Tarayıcı tarafında JavaScript kullanarak Flask'a istek gönder
            fetch('/run_function')
                .then(response => response.text())
                .then(result => alert(result));  // Sunucudan dönen sonucu alert olarak görüntüle
        });
        function getFilePath() {
            var fileInput = document.getElementById("fileInput");
            var selectedFile = fileInput.files[0]; // İlk seçilen dosya
            if (selectedFile) {
                alert("Seçilen dosyanın adı: " + selectedFile.name);
            } else {
                alert("Dosya seçilmedi.");
            }
        }
    </script>
</body>
</html>
